version: "3.8"

services:

  mongodb:
    image: mongo:6.0
    container_name: lgpd-mongodb
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE:-lgpd_db}
    ports:
      - "${MONGO_PORT:-27017}:27017"
    volumes:
      - mongodata:/data/db

volumes:
  mongodata:
    name: lgpd_mongo_data